body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

/*--- navigation bar ---*/

.navbar {
  background:#006AE0;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
  padding: 0 2em;
}

.nav-link:hover,
.navbar-brand:hover {
  color:cyan;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color:aqua;
}

.header {

   background-image: url('../img/p1.jpg');
   background-size:cover;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
}

.overlay2 {
  position: absolute;
  max-height: 20%;
  left: 0;
  top: 0;
  background: linear-gradient(#4a7aec, #a31aeb);
}

.overlay2 {
  position: absolute;
  min-height: 60%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(#4a7aec, #a31aeb);
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description-project {
  padding: 8em 0 1em 0;
  text-align: center;
}

.description-project p{
  font-size: 18px;
}

.description h1 {
  color: #fff;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description button {
  border:1px solid #4a7aec;
  background:#4676ea;
  border-radius: 0;
  color:#fff;
}

.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}

.features {
  margin: 1em auto;
  padding: 1em;
  position: relative;
}

.portfolios {
  margin: 1em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.features .form-control,
.features input {
    border-radius: 0;
}

.features .btn {
  background-color: #589b37;
  border: 1px solid #589b37;
  color: #fff;
  margin-top: 20px;
}

.features .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}

.footer-copyright {
  color: #666;
  padding: 40px 0;
}

@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card img {
border-radius: 2px; }

@media (max-width: 575.98px) {

  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 20%;
    transform: none;
    text-align: center;
  }
  
  .description h1 {
    font-size: 1.5em;
  }
  
  .description p {
    font-size: 1rem;
  }
  
  .features {
    margin: 0;
  }
    
    table{
        max-width: 100px;
    }

}
#main-navigation {
    justify-content:flex-end;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

#right-navigation {
     justify-content:flex-end;
}


ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
    
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #4a7aec;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.circle-icon{
    color: #fff;
    font-size: 3em;
    
    background: #4a7aec;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 20px;
    
}

.icon-center {
    text-align: center;
}

.padding-50 {
    padding-left: 50px;
    padding-right: 50px;
}
.box{
    padding: 50px 0;
}

.box i{
    transition: transform 0.5s ease-out;
}

.box i:hover {
    background-color: #6991f0;
    transform: rotateY(180deg);

}

.padding-bot-1 {
    padding-bottom: 1em;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}

